<footer>
  <div class="container">
    <div class="row">
      <div class="six offset-by-three columns">
        <nav>
          <li><a href="/">home</a></li>
          <li><a href="http://gum.co/Sxoj" class="bordered">Download the book. Free</a></li>
        </nav>
        <p>&copy; {{ 'now' | date: "%Y" }}. Opeyemi Obembe. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="/assets/js/menu.js"></script>
<script src="https://carnivalapp.io/sites/502/init.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", Carnival.init);
</script>

</body>
</html>
